body {
    background-color: #f0eff2;
}

.mypage {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 20px;
}

.mypage__title {
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

.my-reserve {
    grid-column: 1/2;
    padding-left: 60px;
    width: 80%;
}

.title__logo {
    margin-bottom: 20px;
    background-color: #f0eff2;
    font-size: 26px;
}

.my-reserve__group {
    width: 100%;
    border-radius: 6px;
    background-color: #3f5af2;
    color: #fff;
    margin-bottom: 20px;
}

.reserve__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.clock__icon,
.close__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sub-title {
    font-weight: normal;
    font-size: 20px;
}

.reserve-table {
    text-align: left;
}

.table__title {
    width: 40%;
    padding: 5px 15px;
    font-weight: normal;
    font-size: 18px;
}

.table__data {
    width: 60%;
    padding-left: 15px;
    font-size: 18px;
}

.able__data__span {
    font-size: 18px;
}

.reserve-table__row:first-child th,
.reserve-table__row:first-child td {
    padding-top: 20px;
}

.reserve-table__row:last-child th,
.reserve-table__row:last-child td {
    padding-bottom: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.edit,
.update,
.delete {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 330px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: #3f5af2;
    z-index: 100;
}

.edit-form,
.update-form,
.delete-form {
    display: grid;
    grid-template-rows: 20%, 50%, 30%;
    height: 100%;
}

.edit-form__group,
.update-form__group,
.delete-form__group {
    width: 100%;
    text-align: center;
    margin-top: 25px;

}

.edit-form__group:last-of-type,
.update-form__group:last-of-type,
.delete-form__group:last-of-type {
    display: flex;
    justify-content: space-around;
}

.edit-message,
.update-message,
.delete-message {
    font-weight: bold;
    font-size: 22px;
}

.edit-table,
.update-table,
.delete-table {
    margin: 0px auto;
    text-align: left;
    color: #000;
}

.edit-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
}

.edit-form__select {
    width: 100%;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('/icon/downArrow.png');
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: right 12px center;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    padding: 5px;
    border-radius: 4px;
}

.form-btn__cancel {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #3f5af2;
    border-radius: 4px;
    background-color: #fff;
    color: #3f5af2;
}

.form-btn__edit,
.form-btn__update,
.form-btn__delete {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #3f5af2;
    border-radius: 4px;
    background-color: #3f5af2;
    color: #fff;
}

.my-favorite {
    grid-column: 2/4;
    padding-right: 60px;
}

.my-favorite__card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 10px;
}

.favorite-card {
    width: 280px;
    height: 280px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.favorite-card__img {
    width: 281px;
    height: 140px;
    object-fit: cover;
}

.favorite-card__info {
    padding: 15px;
    position: relative;
}

.favorite-card__name {
    font-size: 22px;
    padding: 5px;
}

.favorite-card__area,
.favorite-card__genre {
    display: inline-block;
    font-size: 16px;
    padding: 5px;
}

.favorite-card__span {
    font-size: 16px;
}

.shop__link {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background-color: #3f5af2;
    color: #fff;
    font-size: 16px;
    line-height: 2em;
    cursor: pointer;
}

.favorite-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.favorite-icon.off {
    position: absolute;
    transform: translate(16em, -5.1em);
    width: 45px;
    height: 45px;
    filter: brightness(0) saturate(100%) invert(93%) sepia(5%) saturate(16%) hue-rotate(314deg) brightness(95%) contrast(90%);
}

.favorite-icon.on {
    position: absolute;
    transform: translate(16em, -5.1em);
    width: 45px;
    height: 45px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(60%) saturate(5457%) hue-rotate(323deg) brightness(90%) contrast(93%);
}

@media screen and (max-width: 1000px) {
    .favorite-card {
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .favorite-card__img {
        width: 201px;
        height: 100px;
    }

    .favorite-card__info {
        padding: 5px 15px;
    }

    .favorite-card__name {
        font-size: 18px;
    }

    .favorite-card__area,
    .favorite-card__genre,
    .favorite-card__span {
        font-size: 10px;
    }

    .shop__link {
        margin-top: 10px;
        width: 80px;
        height: 25px;
        font-size: 10px;
        line-height: 2.5em;
    }

    .favorite-icon.off,
    .favorite-icon.on {
        transform: translate(11em, -3.5em);
        width: 30px;
        height: 30px;
    }
}