body {
    background-color: #f0eff2;
}

.create {
    padding: 60px;
}

.back {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.back__link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.back__btn {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    line-height: 2.5em;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.title {
    font-size: 22px;
    text-align: center;
}

.create-form {
    width: 80%;
    padding: 50px 10px 30px;
    margin: 0px auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.create-form__group {
    margin: 0px auto 50px;
    width: 70%;
}

.create-form__label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    width: fit-content;
}

.create-form__span {
    border: 1px solid #f00;
    border-radius: 2px;
    background-color: #f00;
    font-size: 12px;
    color: #fff;
}

.create-form__input {
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.create-form__textarea {
    width: 100%;
    height: 120px;
    font-size: 16px;
}

.file-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.file__label {
    padding: 3px 6px;
    border: 1px solid #767676;
    background-color: #efefef;
    font-size: 14px;
}

.file__name {
    font-size: 14px;
}

.create-form__file {
    display: none;
}

.create-form__preview {
    display: none;
    margin-top: 5px;
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.create-form__group:last-of-type {
    padding-top: 30px;
    margin: 0px auto;
}

.create-form__btn {
    display: block;
    margin: 0px auto;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #3f5af2;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.alert {
    margin-top: 3px;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
}